@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    left: 0;
    top: 0;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #2E3233;
}

canvas {
    position: relative;
    top: -64px;
    cursor: pointer;
    width: 84%;
    height: 100%;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #F3F3F3;
    stroke: #C3C3C3;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #CCC;
    stroke-width: 2px;
}

.navigation {
    top: -64px;
    position: relative;
    left: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.navigation.open {
    top: 0;
}

.close-button {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    left: 95%;
    top: 10px;
    cursor: pointer;
    z-index: 1000;
}

.close-button:before,
.close-button:after {
    transform: rotate(0deg);
    line-height: 2px;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -25px;
    display: block;
    height: 2px;
    width: 25px;
    transition: all 0.25s ease-out;
    background-color: #000;
}

.close-button.open:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.close-button.open:after {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.navigation {
    height: 128px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding: 0;
    display: block;
    width: 100%;
    height: 63px;
    vertical-align: middle;
    background-color: #F3F3F3;
    border-bottom: 1px solid black;
}

.navigation ul li {
    float: left;
    margin-right: 1px;
}

.brand {
    margin-right: 64px !important;
    width: 240px;
    position: relative;
}

.brand > a {
    background-color: #FAFAFA !important;
    color: #2E3233 !important;
    width: 240px !important;
}

.navigation ul li a {
    width: 119px;
    height: 63px;
    text-decoration: none;
    display: table-cell;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    color: #2E3233;
}

.navigation ul li a:hover {
    background-color: #FAFAFA;
}

.repository {
    z-index: 999;
    top: 64px;
    background-color: #F3F3F3;
    list-style: none;
    width: 100%;
    height: 64px;
    vertical-align: middle;
    float: left;
    position: absolute;
}

.repository form{
    height: 100%;
    margin-bottom: 0;
}

.repository input[type=text] {
    width: 75%;
    top: 12px;
    height: 42px;
    padding-left: 15px;
    background: #F3F3F3;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border: 1px solid #2E3233;
    border-radius: 25px;
}

::-webkit-input-placeholder {
    color: #2E3233;
}

.repository input[type=text]:focus,
.repository input[type=submit]:focus{
    outline: none;
}

.repository input[type=submit],
.repository input[type=button] {
    width: 120px;
    top: 12px;
    position: relative;
    height: 42px;
    margin-left: 32px;
    background: #F3F3F3;
    color: #2E3233;
    cursor: pointer;
    border: 1px solid #2E3233;
    border-radius: 25px;
}

.repository input[type=button]:focus {
    outline: none;
}

.repository input[type=button]:active {
    background-color: #F3F3F3;
}

.repository-bar {
    top: -60px;
    width: 15%;
    float: right;
    height: 100%;
    display: block;
    position: relative;
    border-left: 2px solid #404445;
}

.repository-bar .repository-name {
    text-align: center;
    margin-top: 5px;
    display: block;
    height: 25%;
    width: 100%;
    font-size: 24px;
    color: #F3F3F3;
}

.repository-bar .repository-browser{
    height: 100%;
    width: 50%;
}